{% extends 'layout.html' %}

{% block title %}User List{% endblock %}

{% block content %}
  <h1>User List</h1>
  <p>You have <strong>{{ users.length }}</strong> users Items!</p>
  <p><a href="/user/new">Create a users</a></p>
  <ul id="users">
    {% for user in users %}
      <li>
          <strong>{{ user.firstName}}</strong> ||
          <a href="/user/{{ user.id }}">View Details</a> ||
          <a href="/user/edit/{{ user.id }}">Edit</a> ||
          <a href="/user/delete/{{ user.id }}">Delete</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}